@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(bg.png);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.todo_card{
    height: 80vh;
    width: 60vw;
    position: relative;

}

.icons {
    position: sticky; 
    top: 50%; 
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: max-content;
    overflow: hidden;
}

.icons a{
    border-radius: 25px;
    padding-left: 60px;
    margin-left: -50px;
    max-width: max-content;
    max-height: max-content;
    transition: all 0.3s ease;
}

.icons a:hover{
    border-radius: 25px;
    border: 2px solid #464343;
    padding-left: 50px;
    margin-left: -30px;
}
.btns {
    display: flex;
    border: 2px solid #464343;
    border-radius: 25px;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
    width: 80%;
    font-size: 12px;
}


.input{
    border-radius: 25px;
    padding: 10px 20px;
    background-color: transparent;
}
.input:focus{
    border: 2px solid #464343 !important;
    background: linear-gradient(to right, #8a7dff, #ff9cbe, #70d7ff, #ff70cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: text;
}

.btn_sav{
    background-color: #464343;
    border-radius: 25px;
    padding: 10px 20px;
}
.list{
    font-size: 11px;
    overflow-y: hidden;
    overflow-x: auto;
}


.list:hover{
    box-shadow: inset 0px 0px 10px 0px white;
    transition: all 0.3s ease;
}

.finished{
    font-size: 12px;
}

.edit{
    width: max-content;
    height: max-content;
}

.delete{
    width: max-content;
    height: max-content;
}


.list p{
    font-style: italic;
    font-size: 11px;
    font-weight: normal;
}

.zero{
    font-style: italic;
    font-size: 10px;
    list-style: circle;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .todo_card  {
        width: 80vw !important;
        height: 80vh !important;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .todo_card  {
        width: 85vw !important;
        height: 85vh !important;
      }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .todo_card  {
        width:  95vw !important;
        height: 95vh !important;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 500px) {
    .icons{
        display: none;
      }
}
